<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIFzO1MyTCrgz9qoBa46xPTUzJhyTZczg</string>
	<key>GCM_SENDER_ID</key>
	<string>932138130032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rainsday.WildFrogNative</string>
	<key>CLIENT_ID</key>
	<string>932138130032-721p02dn7vrsugpog1tf9thuibpnaa27.apps.googleusercontent.com</string>
	<key>PROJECT_ID</key>
	<string>wildfrog-hk-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>wildfrog-hk-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932138130032:ios:47a9cedb72ccb9a63632b5</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932138130032-721p02dn7vrsugpog1tf9thuibpnaa27</string>
</dict>
</plist>
